
<footer class="site-footer">

  <!-- <footer class="footer">
    <div class="grid-x">
      <div class="large-3 cell"><p>Copyright BostonHacks 2018</p></div>
      <div class="large-3 cell"><p>Facebook: ...</p></div>
      <div class="large-3 cell"><p>Twitter: ...</p></div>
      <div class="large-3 cell"><p>Instagram: ...</p></div>
    </div>
  </footer> -->

  <!-- the footer is mostly commented out, I couldn't get it to display well -->

</footer>

<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/vendor/what-input.js"></script>
<script src="/assets/js/vendor/foundation.min.js"></script>
<script src="/assets/js/app.js"></script>
