---
layout: default
---

<div class="home">  
  <h1> {{ site.nextHackathon.name }} </h1>
  <div> {{ site.nextHackathon.date }} </div>
  <div> {{ site.nextHackathon.location }} </div>
  <br />
  <i>
    <div> attend button </div>
    <div> sponsor button </div>
    <div> general landing page things </div>
    <div> hackathon / event specific things </div>
    <div> schedule </div>
    <div> FAQ </div>
    <div> sponsors, supporting partners </div>
  </i>

  <hr />

  <p><i>Later, this page will turn into the landing page we had for the last hackathon</i></p>

  <p> Sign up for our mailing list, or follow us on Facebook, to get notified when we have more information! </p>

  <div class="grid-x">
    <div class="medium-6 cell"> <input type="text" placeholder="Enter your email"> </div>
    <div class="medium-6 cell"> <a href="about.html" class="button">Submit</a> </div>
  </div>

  <p>
    Check us out on social media! (This will be a footer later) <br />
    Facebook: <a href="https://www.facebook.com/bostonhacks/">BostonHacks</a> <br />
    Twitter: <a href="https://twitter.com/boston_hacks">@boston_hacks</a> <br />
    Instagram: <a href="https://www.instagram.com/bostonhacks/">bostonhacks</a>
  </p>
</div>
