---
layout: default
---

<div class="container text-center">  

  {% if site.landingStatus == 'noLanding' %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2> {{ site.nextHackathon.name }} </h2>
          <div> {{ site.nextHackathon.date }} - {{ site.nextHackathon.location }} </div>
          <br />
          <div> Thanks for your interest! Leave your email address or follow us on social media to get notified when there's more information available!</div>
          <form>
            <div class="form-group">
              <label for="inputEmail"><i>Email address</i></label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  {% if site.landingStatus == 'landing' %}
    <i>
      <div> attend button </div>
      <div> sponsor button </div>
      <div> general landing page things </div>
      <div> hackathon / event specific things </div>
      <div> schedule </div>
      <div> FAQ </div>
      <div> sponsors, supporting partners </div>
    </i>
  {% endif %}

</div>
