---
layout: default
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
	<link rel="stylesheet" href="{{ '/assets/css/app.css, ' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container-fluid text-center">
	  <h2> {{ page.title }} </h2>
	  <br />
	  <div class="row">
      <div class="offset-md-3 col-6">
        <p>
          <big>
            BostonHacks hosts on campus workshops throughout the year. Come hang out, have fun, and learn, even when it's not the hackathon season.
          </big>
        </p>
        <hr />
        <p>
          <b><big>Next workshop: Internship Success Panel</big></b>. Learn about how to succeed in a summer internship on <b>Wednesday, April 11th at 7pm</b> in CAS 218. Facebook event: <a href="https://www.facebook.com/events/822430134623440/">https://www.facebook.com/events/822430134623440/</a>. We'll have interns from Buzzfeed, IBM, Bloomberg, Blackrock, Coinbase, Twitter, VMware, Piaggio Fast Forward, and more.
        </p>
        <hr />
        <p>
          You can follow us on facebook or twitter to get notified when we announce the future workshops!
        </p>
        <p>
          Previous Workshops:
          <ul class="list-group">
            <li class="list-group-item">
              Demistifying the cloud: all about cloud infrastructure
            </li>
            <li class="list-group-item">
              How to succeed in a summer internship
            </li>
            <li class="list-group-item">
              Local hack day (mini hackathon)
            </li>
          </ul>
        </p>
      </div>
    </div>
</body>
